#left-panel {
    margin-top: 12px;	
}

#inputs {
    margin-top: 6px;	
}

#inputs .form-control-feedback {
    pointer-events: auto;	
}

#map-canvas {
	height: 100vh;
}

#map-searchbox {
	width: 50%;
	margin-top: 12px;
}
